name: CI for PR Merge

on:
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  ubuntu_build:
    runs-on: ubuntu-24.04
    env:
      CC: clang
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - uses: cgrindel/gha_set_up_bazel@v1
      with:
        repo_name: gha_move_major_version_tag
    - name: Test
      shell: bash
      run: |
        bazelisk test //...
