name: CI for PR Merge

on:
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  ubuntu_build:
    runs-on: ubuntu-24.04
    env:
      CC: clang
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: cgrindel/gha_set_up_bazel@v1
      with:
        repo_name: gha_move_major_version_tag
    - name: Test
      shell: bash
      run: |
        bazelisk test //...
